<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i = 0; i < newyork.length; i++) {%>
        <%= newyork[i].restaurant %>
        <br>
        <%= newyork[i].cuisine %>
        <br>
        <%= newyork[i].review %>
        <br>
        <%= newyork[i].priceRange %>
        <br>
        <%= newyork[i].weblink %>
        <br>
        <%= newyork[i].menuItemOne %>
        <img src=<%= newyork[i].imgOne %> alt="food photo">
        <br>
        <%= newyork[i].menuItemTwo %>
        <img src=<%= newyork[i].imgTwo %> alt="food photo">
        <br>
        <%= newyork[i].menuItemThree %>
        <img src=<%= newyork[i].imgThree %> alt="food photo">
        <br>
        <%= newyork[i].imgThree %>
        <br>
        <% } %>
</body>
</html>